main {

	width: 60%;
	border: 3px solid darkred;
	background-color: beige;
}

#header {
	margin-top: 30px;
}

.padded {
	margin-left: 10px;
}

#fox-image {

	width: 70%;
	height: 150px;
	border: 8px solid orange;
	margin-bottom: 10px;
}

#about {

	margin: 10px 0px 10px 10px;
	width: 70%;
	height: 250px;
	background-color: yellow;
	border: 8px dashed orange;
	overflow-y: scroll;
}
